[submodule "backend"]
	path = backend
	url = https://github.com/LexaLukivka/partymakerBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/LexaLukivka/partymakerFrontend.git
[submodule "admin"]
	path = admin
	url = https://github.com/pavliha/partymakerAdmin.git
